.navbar {
	position: relative;
	width: 100vw;
}

.container {
	margin: 0;
	padding: 0;
}

/*px
em
rem
vh
vw
%*/

.banner-container {
	position: relative;
	width: 100vw;
	height: 600px;
}

.banner-container img {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-filter: grayscale; 
	-webkit-filter: brightness(50%);
}

.banner-container h1 {
	position: absolute;
	color: white;
}

img:hover{
	opacity:0.9;
}
.center {
	position: relative;
}
.text h1, h2, p {
	z-index: 7;
	font-size: 20px;
	position: relative;
}


.jumbotron {
	position: relative;
	background: white;
	height: 500px;
}

.jumbotron h1, p{
	text-align: center;
}

.btn {
  border-radius: 15px;
  border-color: blue;
  color: white;
  background-color: blue;
  padding: 10px 40px;
}
